body, html {
	font-family:  Arial, Helvetica, self-serif;
	font-size: 18px;
	margin: 0px;
	background-image: url("../backgrounds/background3.jpg");
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
	text-align: justify;
	height: 101%;
	line-height: 1.5;
}
section {
	line-height: 1.5;
	margin-top: 10px;
	margin-bottom: 10px;
	font-family: Arial, Helvetica, self-serif;
	text-align: left;
	text-align: justify;
}
.sectionBG {
   	overflow: auto;
    background-color: #CBEEFF;
	padding-right: 30px;
	margin-top: 15px;
	margin-bottom: 50px;
    padding-left: 30px;
	border-radius: 15px 50px 30px;
	box-shadow: 0px 0px 5px 5px rgba(0,0,0,0.3);
}
h1 {
	color: #1761a0;
	font-size: 40px;
	margin-top: 15px;
	margin-bottom: 15px;
}
h2 {
	color: #1761a0;
	font-size: 25px;
	margin-top: 10px;
	text-align: center;
}
h3 {
	text-align: center;
}
.warning {
	line-height: 1.5;
	margin-top: 15px;
	margin-bottom: 15px;
	font-family: Arial, Helvetica, self-serif;
	color: red;
}
/* Solution from: https://stackoverflow.com/questions/3186688/drop-shadow-for-png-image-in-css */
.shadowed {
    /* -webkit-filter: drop-shadow(3px 3px 3px #222); */
	filter: drop-shadow(3px 3px 3px #222);
	padding-top: 5px;
	width: 150px;
}
/* Icons from: https://www.iconfinder.com/ */
#footer .icon {
	width: 20px; 
	height: 20px;
	vertical-align: top;
}
.icon {
	width: 20px; 
	height: 20px;
	vertical-align: center;
}
/* Images from: https://unsplash.com/ */
.slideshowimg {
	width: 50%;
	float: right;
	border-radius: 15px 15px 15px 15px;
	margin: 15px;
}
p {
	line-height: 1.5;
	margin-top: 10px;
	margin-bottom: 10px;
	font-family: Arial, Helvetica, self-serif;
	text-align: justify;
	vertical-align: bottom;
}
/*peidetud teksti element*/
#more{display:none;}
.card {
  width:300px;
  background:#2979FF;
  padding:30px;
  color:#fff;
  font-size: 18px;
  box-shadow: 0  0 5px 4px rgba(0,0,0,0.33);
}
/*Nupp "Loe lähemalt"*/
button {
  padding: 10px 15px;
  border: black 2px solid;
  color:black;
  background: transparent;
  transition: 0.5s;
  cursor: pointer;
  margin-bottom: 20px;
}
button:hover {
  transform: scale(1.2) translateX(8px);
}

.img{
	margin: 15px;
	float: right;
	width: 400px;
	height: auto;
	border-radius: 15px 15px 15px 15px;
}
tbody, td, tr, table {
	margin: 0px;
	border-spacing: 0px;
	padding: 0px;
}
td.kontakt{
	margin: 0px;
	border-spacing: 0px;
	padding: 0px;
	vertical-align: top;
	text-align: center;
}
table.layout{
	margin: 0px;
	border-spacing: 0px;
	padding: 0px;
	margin-left: 20%; 
	margin-right: 20%;
}
iframe {
	width: 450px;
	height: 250px;
	border: 0;
	float: left;
	margin-bottom: 10px;
	margin-left: 20px;
	margin-right: 30px;
}
iframe.map {
	width: 450px;
	height: 450px;
	border: 0;
	float: left;
	margin-right: 20px;
	margin-left: 20px;
	vertical-align: middle;
}
