body, html {
	font-family:  LiberationSans;
	font-size: 18px;
	margin: 0px;
	background-image: url("backgrounds/background1.jpg");
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
	text-align: justify;
}
#navbar{
	margin-top: 0px;
	padding: 0px;
	padding-left: 30px;
	background-color: #A6F4FF;
	text-align: left;
	height: auto;
	box-shadow: 0px 9px 4px -6px rgba(0,0,0,0.3);
	margin-left: 3%;
	border-radius: 0px 0px 30px 30px;
	width: 90%;
}
#navbar li {
	vertical-align: top;
    display: inline-block;
}
#navbar .logo a {
	vertical-align: top;
	display: inline-block;
    color: #1761a0;
    text-align: center;
    padding: 0px;
    text-decoration: none;
	width: auto;
	font-size: 20px;
	height: 27px;
}
#navbar li a, #navbar .dropdown .dropbtn {
    display: inline-block;
    color: #1761a0;
    text-align: center;
    padding: 14px 14px;
    text-decoration: none;
	width: auto;
	font-size: 20px;
	height: 27px; 
}
#navbar li a:hover, #navbar .dropdown:hover .dropbtn {
	background-color: #333;
	color: #ffb412;
}
#navbar li.logo a:hover {
	background-color: inherit;
	color: inherit;
}
#navbar .dropdown {
    display: inline-block;
	position: relative;
}
#navbar .dropdown-content {
    display: none;
    position: absolute;
    background-color: #333;
    width: auto;
    box-shadow: 5px 10px 10px rgba(0,0,0,0.3);
	z-index: 1;
}
#navbar .dropdown-content a {
    color: white;
    padding: 12px 12px;
    text-decoration: none;
    display: block;
    text-align: left;
	width: auto;
	z-index: 1;
}
#navbar .dropdown-content a:hover {
	background-color: black;
	color: #ffb412;
}
#navbar .dropdown:hover .dropdown-content {
	display: block;
	color: #ffb412;
}

/* The sticky class is added to the navbar with JS when it reaches its scroll position */
.sticky {
  position: sticky;
  top: 0;
  vertical-align: top;
  text-align: right;
}
#footer {
	text-align: center;
	background-color: black;
	color: white;
	bottom: 0;
	position: fixed;
	width: 100%;
	height: 25px;
	vertical-align: bottom;
	font-size: 20px;
}
#footer a {
	color: white;
	text-decoration: none;
}
section {
    padding-top: 5%;
    padding-bottom: 5%;
    overflow: auto;
}
.sectionBG {
   	overflow: auto;
    background-color: #CBEEFF;
	padding-right: 30px;
    padding-left: 30px;
	border-radius: 15px 50px 30px;
	box-shadow: 0px 0px 5px 5px rgba(0,0,0,0.3);
}
h1 {
	color: #1761a0;
	font-size: 30px;
	margin-top: 15px;
	margin-bottom: 15px;
}
p {
	margin-top: 15px;
	margin-bottom: 15px;
}
tbody, td, tr, table {
	margin: 0px;
	border-spacing: 0px;
	padding: 0px;
}
table {
	margin: 0px;
	border-spacing: 0px;
	padding: 0px;
	margin-left: 20%; 
	margin-right: 20%;
}
/* Solution from: https://stackoverflow.com/questions/3186688/drop-shadow-for-png-image-in-css */
.shadowed {
    -webkit-filter: drop-shadow(3px 3px 3px #222);
	filter: drop-shadow(3px 3px 3px #222);
	padding-top: 5px;
}
/* Icons from: https://www.iconfinder.com/ */
.icon {
	width: 20px; 
	height: 20px;
	vertical-align: bottom;
}
.slideshowimg {
	width: 100%;
	border-radius: 15px 15px 15px 15px;
}
